In [1]:

import pandas as pd
import seaborn as sns
from sklearn.pipeline import Pipeline
from matplotlib import pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.compose import ColumnTransformer
from xgboost import XGBRegressor
from sklearn.metrics import root_mean_squared_log_error
from sklearn.preprocessing import OneHotEncoder, StandardScaler

warnings.filterwarnings("ignore")

In [2]:
# prompt: make sample submission csv into a dataframe

df = pd.read_csv('train.csv')
dt = pd.read_csv('test.csv')
sf= pd.read_csv('sample_submission.csv')

In [3]:
df.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [4]:

df = df.drop('id', axis=1)
df = df.drop('Policy Start Date', axis=1)
dt = dt.drop('id', axis=1)
dt = dt.drop('Policy Start Date', axis=1)

In [5]:


for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            df[label] = content.fillna(content.mean())
    if not pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            df[label] = content.astype("category").cat.add_categories("unspecified").fillna("unspecified")

In [6]:
for label, content in dt.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            dt[label] = content.fillna(content.mean())
    if not pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            dt[label] = content.astype("category").cat.add_categories("unspecified").fillna("unspecified")

In [7]:
df.isnull().sum()

Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Insurance Duration      0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

In [8]:
dt.isnull().sum()

Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Insurance Duration      0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
dtype: int64

In [9]:
X = df.drop("Premium Amount", axis=1)
y = df["Premium Amount"]

In [10]:
cats = X.select_dtypes(exclude=np.number).columns.tolist()
for col in cats:
   X[col] = X[col].astype('category')

In [11]:
X, y = df.drop('Premium Amount', axis=1), df['Premium Amount']

In [12]:
categorical_features = X.select_dtypes(
   include=["object"]
).columns.tolist()

numerical_features = X.select_dtypes(
   include=["float64", "int64"]
).columns.tolist()

In [13]:
preprocessor = ColumnTransformer(
   transformers=[
       ("cat", OneHotEncoder(), categorical_features),
       ("num", StandardScaler(), numerical_features),
   ]
)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  object
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  category
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            1200000 non-null  category
 7   Health Score          1200000 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       1200000 non-null  float64
 11  Vehicle Age           1200000 non-null  float64
 12  Credit Score          1200000 non-null  float64
 13  Insurance Duration    1200000 non-null  float64
 14  Customer Feedback     1200000 non-null  category
 15  Smoking Status        1200000 non-null  object
 16  Exercise Frequency    1200000 non-null  object
 17  Property Type         1200000 non-null  object
 18  Premium Amount        1200000 non-null  float64
dtypes: category(3), float64(9), object(7)
memory usage: 149.9+ MB

In [15]:
pipeline = Pipeline(
   [
       ("preprocessor", preprocessor),
       ("classifier", XGBRegressor (random_state=42, max_depth=4,  learning_rate=0.01,  n_estimators= 500,))
   ]
)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=13
)

In [ ]:


pipeline.fit(X_train, y_train)

In [ ]:
y_pred = pipeline.predict(X_test)

# Generate classification report

In [ ]:
categorical_features = dt.select_dtypes(
   include=["object"]
).columns.tolist()

numerical_features = dt.select_dtypes(
   include=["float64", "int64"]
).columns.tolist()

In [ ]:
preprocessor = ColumnTransformer(
   transformers=[
       ("cat", OneHotEncoder(), categorical_features),
       ("num", StandardScaler(), numerical_features),
   ]
)

In [ ]:
id = sf.pop('id')
y_pred = pipeline.predict(dt)

# Create a submission DataFrame
submission_df = pd.DataFrame({
    'id': id,
    'Premium Amount': y_pred
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")